@import "tailwindcss";
* {
  font-family: Outfit;
}
.font-Ovo {
  font-family: Ovo, sans-serif;
}
.font-Outfit {
  font-family: Outfit, sans-serif;
}

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;
  --shadow-dark: 4px 4px 0 #000;
}
